<h1> New Coupon Form </h1>


<%= form_tag coupons_path do %>
<label>Coupon Code:</label><br>
  <input type="text" id="coupon_code" name="coupon[coupon_code]"><br>
 
  <label>Store:</label><br>
  <input type="text" id="store" name="coupon[store]"><br>
  
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit Coupon">
<% end %>